.formula {
    color: black;
    opacity: 90%;
    padding: 10px;
    text-align: center;
    resize: none;
    border-radius: 5%;

}


h3 {
    font-size: x-large;
    text-align: center;
    text-transform: capitalize;
    color: rgb(223, 240, 138);
    text-shadow: 3px 2px black;
    margin-bottom: -1px;



}
h4 {
    font-size: 1.2rem;
    text-align: center;
    text-transform: capitalize;
    color: rgb(223, 240, 138);
    text-shadow: 3px 2px black;
    margin-bottom: -1px;


}

.commentbox {
    color: black;
    height: 200px;
    width: 240px;
    resize: none;
    opacity: 90%;
    border-radius: 10px;

}
input[type="text"] {
    width: 240px;
    height: 40px;
    color: black;
    opacity: 90%;
    border-radius: 10px;
}

input[type="text"]:focus {
  outline: none;
    background-color: white;
    opacity: 90%;
}

textarea:focus {
    outline: none;
    background-color: white;
    opacity: 90%;
}

input[type="email"]:focus {
    outline: none;
    background-color: white;
    opacity: 90%;
}

input[type="email"] {
    width: 240px;
    height: 40px;
    color: black;
    border-radius: 10px;
    opacity: 90%;
}

