.formula {
    color: brown;
    opacity: 80%;
    padding: 10px;
    text-align: center;
    resize: none;
    border-color: black;
    overflow: scroll;
    overflow-x: hidden;
    margin-left: 20px;
}

h3 {
    font-size: 1.5rem;
    text-align: center;
    text-transform: capitalize;
    color: rgb(223, 240, 138);
    text-shadow: 3px 2px black;
    margin-bottom: -5px;


}
h4 {
    font-size: 1.2rem;
    text-align: center;
    text-transform: capitalize;
    color: rgb(223, 240, 138);
    text-shadow: 3px 2px black;
    margin-bottom: -5px;


}

.commentbox {
    color: brown;
    height: 200px;
    width: 240px;
    opacity: 80%;
    resize: none;
    border-color: black;

}
input[type="text"] {
    width: 240px;
    height: 40px;
    color: brown;
    opacity: 90%;
}
