
.bg {
    background-image: url("../images/background.png");
    background-color: #B6C471;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body {
    font-family: Montserrat, sans-serif;
    height: 100%;
}


@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}

.myScrollableDiv {
    position: fixed;
    top: 100px; /* same height as navbar */
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    color: black;
    background: none;
}