<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <link rel="stylesheet" th:href="@{css/layout.css}" href="../static/css/layout.css">
    <link rel="stylesheet" th:href="@{css/homebtn.css}" href="../static/css/homebtn.css">
    <link rel="stylesheet" th:href="@{css/navbar.css}" href="../static/css/navbar.css">
    <link rel="stylesheet" th:href="@{css/contactformular.css}" href="../static/css/contactformular.css">
    <link rel="stylesheet" th:href="@{css/scrollbar.css}" href="../static/css/scrollbar.css">
</head>
<body class="bg">
<div class="nav-container">
    <nav>
        <input type="checkbox" id="nav-toggle">
        <label for="nav-toggle" class="burger-menu">
            <img src="images/menulogo.png" alt="" width="40px">
        </label>
        <div class="left-menu">
            <a href="#">Shop</a>
            <a href="#">Blog</a>
            <a href="#">About</a>
            <a href="contact">Contact</a>
        </div>
        <a href="#" class="logo">MAD SPILD</a>
    </nav>
</div>


<div align="center">
    <form>
        <div class="formula"> <label for="fname">First Name</label>
        <br>
        <input type="text" id="fname" name="firstname" placeholder="Your name?" autofocus>
        <br> <br>

        <label for="lname">Last Name </label>
             <br>
        <input type="text" id="lname" name="lastname" placeholder="Your last name?">
        <br> <br>
        <label for="country">Country</label>
             <br>
        <input type="text" id="country" name="countryname" placeholder="Where are you from?">
        </div>
            <br>
        <div class="commentbox">
        <label for="subject" >Your query or comment</label>
            <br>
        <textarea class="commentbox" id="subject" name="subject" placeholder="Write your message here!" style="width: 200px; height: 200px"></textarea>
        </div>
        <br>
        <br>
        <input type="submit" value="Submit" style="background-color: #B6C471; color: saddlebrown; border-color: #B6C471">


    </form>
</div>

</body>


</html>