<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>madspild.dk - Kontakt formular</title>
    <link rel="stylesheet" th:href="@{css/layout.css}" href="../static/css/layout.css">
    <link rel="stylesheet" th:href="@{css/homebtn.css}" href="../static/css/homebtn.css">
    <link rel="stylesheet" th:href="@{css/navbar.css}" href="../static/css/navbar.css">
    <link rel="stylesheet" th:href="@{css/contactformular.css}" href="../static/css/contactformular.css">
    <link rel="stylesheet" th:href="@{css/scrollbar.css}" href="../static/css/scrollbar.css">
</head>
<body class="bg">
<div class="nav-container">
    <nav>
        <input type="checkbox" id="nav-toggle">
        <label for="nav-toggle" class="burger-menu">
            <img src="images/menulogo.png" alt="" width="40px">
        </label>
        <div class="left-menu">
            <a href="index">Hjem</a>
            <a href="contact">Kontakt</a>
        </div>
        <a href="index" class="logo zoom">
            <img src="images/DanmarkXMadspild.png" width="90%">
        </a>
    </nav>
</div>
<h1>Kontakt os via formularen herunder!</h1>

<div align="center">
    <form>
        <div class="formula">
            <label for="fname"><h3>Fornavn</h3></label>


            <input type="text" id="fname" name="firstname" placeholder="Dit fornavn?" autofocus>
            <br> <br>

            <label for="lname"><h3>Efternavn</h3> </label>
            <input type="text" id="lname" name="lastname" placeholder="Dit efternavn?">
            <br> <br>
            <label for="country"><h3>Land og by</h3></label>

            <input type="text" id="country" name="countryname" placeholder="Hvilket land/by er du fra?">

        </div>
        <div class="commentbox">
            <label for="subject"><h4>Skriv din kommentar eller spørgsmål her</h4></label>
            <textarea class="commentbox" id="subject" name="subject" placeholder="Skriv din besked her"></textarea>
        </div>
        <br>
        <br>
        <br>
        <input type="submit" value="Send besked" style="background-color: #B6C471; color: rgb(223, 240, 138); text-shadow: 1px 1px black; border-color: black; border-color: black; border-radius: 5px">


    </form>
</div>

</body>


</html>