<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEMO SITE</title>
    <link rel="stylesheet" th:href="@{css/layout.css}" href="../static/css/layout.css">
    <link rel="stylesheet" th:href="@{css/homebtn.css}" href="../static/css/homebtn.css">
    <link rel="stylesheet" th:href="@{css/navbar.css}" href="../static/css/navbar.css">
    <link rel="stylesheet" th:href="@{css/scrollbar.css}" href="../static/css/scrollbar.css">

</head>
<body class="bg">
<div class="nav-container">
    <nav>
        <input type="checkbox" id="nav-toggle">
        <label for="nav-toggle" class="burger-menu">
            <img src="images/menulogoblack.png" alt="" width="40px">
        </label>
        <div class="left-menu">
            <a href="#">Shop</a>
            <a href="#">Blog</a>
            <a href="#">About</a>
            <a href="contact">Contact</a>
        </div>
        <a href="#" class="logo">MAD SPILD</a>
    </nav>
</div>

    <div class="grid-container">
        <div class="grid-item">
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
        </div>
        <div class="grid-item">
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
            <p>Test</p>
        </div>
    </div>
<div class="image-container">
    <div class="grid-item-images">
    <img th:src="@{images/madspild1.png}" src="/static/images/madspild1.png" height="300px"; width="350px">
    </div>
    <div class="grid-item-images">
        <img th:src="@{images/madspild2.png}" src="/static/images/madspild2.png" height="300px"; width="350px">
    </div>
    <div class="grid-item-images">
        <img th:src="@{images/madspild3.png}" src="/static/images/madspild3.png" height="300px"; width="350px">
    </div>
    <div class="grid-item-images">
        <img th:src="@{images/madspild4.png}" src="/static/images/madspild4.png" height="300px"; width="350px">
    </div>
</div>


</body>
</html>