<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>madspild.dk - Info om madspild</title>
    <link rel="stylesheet" th:href="@{css/layout.css}" href="../static/css/layout.css">
    <link rel="stylesheet" th:href="@{css/navbar.css}" href="../static/css/navbar.css">
    <link rel="stylesheet" th:href="@{css/scrollbar.css}" href="../static/css/scrollbar.css">

</head>
<body class="bg">
<div class="nav-container">
    <nav>
        <input type="checkbox" id="nav-toggle">
        <label for="nav-toggle" class="burger-menu">
            <img src="images/menulogo.png" alt="" width="20px">
        </label>
        <div class="left-menu">
            <a href="index" class="logo zoom">Hjem</a>
            <a href="contact" class="logo zoom">Kontakt</a>
        </div>
        <a href="index" class="logo zoom">
            <img src="images/newX.png" width="90%">
        </a>
    </nav>
</div>

<div class="grid-container">
    <div class="grid-item" style="max-width: 92vh; min-width: 30vh">
        Indenfor de sidste par år er der blevet udgivet en større mængde internationale og nationale rapporter med hver
        deres bud på brugbare kategoriseringer og afgrænsninger af begreberne madaffald og madspild. Senest er FLW
        Protocol: Food Loss & Waste Accounting and Reporting Standard (2016) blevet udgivet, hvilket har til formål at
        give et bud på en global standard for hvordan madaffald og madspild defineres, måles og rapporteres. Dette for
        at sikre at indsamlet data er ensartet, sammenligneligt og gennemsigtigt og at udvikling og forhåbentlig
        fremgang kan kvantificeres.
        <br>
        De nyeste danske undersøgelser definerer madaffald og madspild således:
        <br>
        ”Madaffald er alt affald, der stammer fra mad. Madaffald kan opdeles i to; madspild og øvrigt madaffald.
        Madspild er fødevarer, der kunne være spist, men i stedet er blevet smidt ud. Øvrigt madaffald er de dele af
        fødevarerne, der ikke er beregnet til at spise. Eksempler på madspild er brød, hel frugt og grønt og
        middagsrester. Eksempler på andet madaffald er æggeskaller, osteskorper, kaffegrums og kernehuse”
        (Miljøstyrelsen, 2014)
        <br>
        Madspild er således madaffald, der kunne være blevet spist af mennesker såsom endeskiven på brød, rynkede
        frugter og rester fra aftensmaden. Det skal pointeres at der mellem madaffald og madspild eksisterer en gråzone.
        Eksempelvis er kartoffelskræller eller stilken på en broccoli uspiselige for nogle, mens de for andre er en
        naturlig del af madlavningen. Kultur, vaner og sæson spiller ind i forhold til dette, og grænsen mellem
        spiseligt madspild og uspiseligt madaffald kan varierer på det individuelle niveau.
    </div>
    <div class="grid-item" style="max-width: 44.4vh; min-width: 30vh">
        <h3>Madspild koster danske husholdninger 13,5 milliarder kroner om året inkl. moms og afgifter.</h3>
        <p style="font-style: italic; text-align: left">kilde: Landbrug & Fødevarer - tal fra 2016</p>


        <h2 style="font-weight: bold">Årligt madspild i Danmark, estimat i %:</h2>
        <ul style="text-align: left">
            <li>Husholdningerne - 36%</li>
            <li>Detailhandlen - 23%</li>
            <li>Fødevareindustrien - 19%</li>
            <li>Primærproduktionen - 14%</li>
            <li>Institutioner og storkøkkener - 4%</li>
            <li>Hoteller og restauranter - 4%</li>
        </ul>
        <p style="font-style: italic;">kilde: Miljøministeriet, Regeringens Strategi for affaldsforebyggelse ”Danmark
            uden affald II” - tal fra 2015</p>
    </div>
    <div class="grid-item" style="max-width: 44.4vh; min-width: 30vh">
        <h3>Årligt madspild per person i forhold til husstandens størrelse:</h3>

        <ul style="text-align: left">
            <li>Husstand med 1 person: 98,8 kilo</li>
            <li>Husstand med 2 personer: 65 kilo</li>
            <li>Husstand med 3 personer: 67,6 kilo</li>
            <li>Husstand med 4 personer: 57,2 kilo</li>
            <li>Husstand med 5 personer: 46,8 kilo</li>
            <li>Husstand med 6 personer og derudover: 52 kilo</li>
        </ul>
        <p>Madspild koster danske husholdninger 16 milliarder kroner om året. En gennemsnitlig dansk familie med 2
            voksne og 2 børn smider mad ud for 10.000 kroner om året. Det svarer til 20% af deres samlede udgifter til
            mad. (Baseret på værdien af det private forbrug af fødevarer (80 mia. kr.) og et skøn om, at 20% af de
            indkøbte fødevarer smides ud.)</p>
        <p style="font-style: italic; text-align: left">kilder: Politiken og Landbrug & Fødevarer - tal fra 2011</p>
    </div>
</div>
<h1>Så meget mad spilder vi:</h1>
<div class="image-container">
    <div class="grid-item zoom">
        <img th:src="@{images/madspild1.png}" src="/images/madspild1.png" height="380px" ; width="350px">
    </div>
    <div class="grid-item zoom">
        <img th:src="@{images/madspild2.png}" src="/static/images/madspild2.png" height="380px" ; width="350px">
    </div>
    <div class="grid-item zoom">
        <img th:src="@{images/madspild3.png}" src="/static/images/madspild3.png" height="380px" ; width="350px">
    </div>
    <div class="grid-item zoom">
        <img th:src="@{images/madspild4.png}" src="/static/images/madspild4.png" height="380px" ; width="350px">
    </div>
</div>
<h1>Nyttig Hjemmesider:</h1>
<div class="grid-container">
    <div class="grid-item zoom" onclick="location.href='https://toogoodtogo.dk/da/consumer'";  style="max-width: 44.4vh; cursor: pointer; min-width: 30vh">
        <img th:src="@{images/toGood.svg}" src="/images/toGood.svg" height="150px">
        <br>"Hos Too Good To Go er vi fast besluttet på at hjælpe med at løse problemet. Via vores madspildsapp kan du
        redde lækker, usolgt mad fra butikker, så god mad ikke bliver spildt. Samtidig samarbejder vi med lokale
        myndigheder og organisationer for at gøre op med madsystemet og ændre tilgangen til madspild."
    </div>
 </div>
<h1>The Team:</h1>
<div class="grid-container">
    <div class="grid-item" style="max-width: 44.4vh; min-width: 30vh">
        <h2>Thomas</h2>
        <h3>Programmør & Pølle</h3>
        <div class="zoom2" onclick="location.href='https://github.com/Linding3r'"; style="cursor: pointer;">
            <img th:src="@{images/github.png}" src="/images/github.png" height="40px">
            </a>
    </div>
    </div>
    <div class="grid-item" style="max-width: 44.4vh; min-width: 30vh">
        <h2>Rami</h2>
        <h3>Scrum Master & Programmør</h3>
        <div class="zoom2" onclick="location.href='https://github.com/Ramilade'"; style="cursor: pointer;">
            <img th:src="@{images/github.png}" src="/images/github.png" height="40px">
    </div>
    </div>
    <div class="grid-item" style="max-width: 44.4vh; min-width: 30vh">
        <h2>Frederik</h2>
        <h3>Programmør & Pølle</h3>
        <div class="zoom2" onclick="location.href='https://github.com/FHallengreen'"; style="cursor: pointer;">
            <img th:src="@{images/github.png}" src="/images/github.png" height="40px">
        </div>
    </div>
    <div class="grid-item" style="max-width: 44.4vh; min-width: 30vh">
        <h2>Jonathan</h2>
        <h3>Programmør & Pølle</h3>
        <div class="zoom2" onclick="location.href='https://github.com/JWillumsen89'"; style="cursor: pointer;">
            <img th:src="@{images/github.png}" src="/images/github.png" height="40px">
        </div>
    </div>

</body>
</html>