<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEMO SITE</title>
    <link rel="stylesheet" th:href="@{css/layout.css}" href="../static/css/layout.css">
    <link rel="stylesheet" th:href="@{css/homebtn.css}" href="../static/css/homebtn.css">
    <link rel="stylesheet" th:href="@{css/navbar.css}" href="../static/css/navbar.css">
    <link rel="stylesheet" th:href="@{css/scrollbar.css}" href="../static/css/scrollbar.css">

</head>
<body class="bg">
<div class="nav-container">
    <nav>
        <input type="checkbox" id="nav-toggle">
        <label for="nav-toggle" class="burger-menu">
            <img src="images/menulogoblack.png" alt="" width="40px">
        </label>
        <div class="left-menu">
            <a href="index">Hjem</a>
            <a href="contact">Kontakt</a>
        </div>
        <a href="index" class="logo">MAD SPILD</a>
    </nav>
</div>

    <div class="grid-container">
        <div class="grid-item">
            Indenfor de sidste par år er der blevet udgivet en større mængde internationale og nationale rapporter med hver deres bud på brugbare kategoriseringer og afgrænsninger af begreberne madaffald og madspild. Senest er FLW Protocol: Food Loss & Waste Accounting and Reporting Standard (2016) blevet udgivet, hvilket har til formål at give et bud på en global standard for hvordan madaffald og madspild defineres, måles og rapporteres. Dette for at sikre at indsamlet data er ensartet, sammenligneligt og gennemsigtigt og at udvikling og forhåbentlig fremgang kan kvantificeres.
<br>
            De nyeste danske undersøgelser definerer madaffald og madspild således:
            <br>
            ”Madaffald er alt affald, der stammer fra mad. Madaffald kan opdeles i to; madspild og øvrigt madaffald. Madspild er fødevarer, der kunne være spist, men i stedet er blevet smidt ud. Øvrigt madaffald er de dele af fødevarerne, der ikke er beregnet til at spise. Eksempler på madspild er brød, hel frugt og grønt og middagsrester. Eksempler på andet madaffald er æggeskaller, osteskorper, kaffegrums og kernehuse” (Miljøstyrelsen, 2014)
            <br>
            Madspild er således madaffald, der kunne være blevet spist af mennesker såsom endeskiven på brød, rynkede frugter og rester fra aftensmaden. Det skal pointeres at der mellem madaffald og madspild eksisterer en gråzone. Eksempelvis er kartoffelskræller eller stilken på en broccoli uspiselige for nogle, mens de for andre er en naturlig del af madlavningen. Kultur, vaner og sæson spiller ind i forhold til dette, og grænsen mellem spiseligt madspild og uspiseligt madaffald kan varierer på det individuelle niveau.
        </div>
        <div class="grid-item">
            Madspild koster danske husholdninger 13,5 milliarder kroner om året inkl. moms og afgifter.
            <p>kilde: Landbrug & Fødevarer - tal fra 2016</p>

            <p>Årligt madspild i Danmark, estimat i %:</p>
            <p>Husholdningerne - 36%</p>
            <p>Detailhandlen - 23%</p>
            <p>Fødevareindustrien - 19%</p>
            <p>Primærproduktionen - 14%</p>
            <p>Institutioner og storkøkkener - 4%</p>
            Hoteller og restauranter - 4%
            kilde: Miljøministeriet, Regeringens Strategi for affaldsforebyggelse ”Danmark uden affald II” - tal fra 2015
        </div>
    </div>
<h1>Så meget mad spilder vi:</h1>
<div class="image-container">
    <div class="grid-item zoom">
    <img th:src="@{images/madspild1.png}" src="/images/madspild1.png" height="380px" ; width="350px">
    </div>
    <div class="grid-item zoom">
        <img th:src="@{images/madspild2.png}" src="/static/images/madspild2.png" height="380px"; width="350px">
    </div>
    <div class="grid-item zoom">
        <img th:src="@{images/madspild3.png}" src="/static/images/madspild3.png" height="380px"; width="350px">
    </div>
    <div class="grid-item zoom">
        <img th:src="@{images/madspild4.png}" src="/static/images/madspild4.png" height="380px"; width="350px">
    </div>
</div>


</body>
</html>