<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DEMO SITE</title>
  <link rel="stylesheet" th:href="@{css/layout.css}" href="../static/css/layout.css">
  <link rel="stylesheet" th:href="@{css/homebtn.css}" href="../static/css/homebtn.css">
  <link rel="stylesheet" th:href="@{css/navbar.css}" href="../static/css/navbar.css">

</head>
<body class="bg">
<div class="nav-container">
  <nav>
    <input type="checkbox" id="nav-toggle">
    <label for="nav-toggle" class="burger-menu">
      <img src="images/menulogo.png" alt="" width="40px">
    </label>
    <div class="left-menu">
      <a href="#">Shop</a>
      <a href="#">Blog</a>
      <a href="#">About</a>
      <a href="#">Contact</a>
    </div>
    <a href="#" class="logo">MAD SPILD</a>
  </nav>
</div>
<div class="myScrollableDiv">
  <section class="layout">
    <div class="header">1</div>
    <div class="main">2</div>
    <div class="footer">3</div>
  </section>

</div>

</body>
</html>